*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    height: 40px;
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.size{
    height: 50px;
}

[class*="col"]{
    border: 1px solid white;
    background-color: blue;
    color: white;
}

.green{
    background-color: rgb(30, 241, 30);
    border: solid 1px blue;
    padding: 5px;
}

.col-6 > .row{
    border:3px solid blue;
    padding: 4px;
}



.container2{
    padding-top: 30px;
}